.container {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
}

.iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-width: 1024px;
  max-height: 576px;
  border: 0;
  overflow: hidden;
  border: none;
}
