.main {
  width: 100%;
  padding: 60px 0 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 0 auto;

}
.content small {
  margin-right: 10px;
}
.content svg {
  padding: 0 5px;
  height: 15px;
  fill: #fff;
}

.next {
  position: relative;
  top: 5px;
}
