.item {
  position: relative;
  margin-bottom: 20px;
}
.item .imgwrapper  {
  overflow: hidden;
}
.item .imgwrapper img {
  width: 100%;
  height: auto;
  transition: transform .5s ease;
}
.item .imgwrapper:hover img {
  transform: scale(1.05);
}
.item h3 {
  font-size: 16px;
}
.item small {
  font-size: 12px;
}

.item .upcoming {
  position: absolute;
  left: 0;
  top: 0;
  background-color: white;
  color: black;
  padding: 5px;
}

.item .streaming {
  position: absolute;
  left: 0;
  top: 0;
  background: linear-gradient(135deg,  #fedc45 0%,#fb7099 100%);
  color: black;
  padding: 5px;
}
