.main {
  max-width: 1460px;
  margin: 0 auto;
}
.main h2 {
  font-size: 22px;
  padding: 5px;
  margin-bottom: 10px;
  margin-left: 7.5px;
  margin-right: 7.5px;
  background: linear-gradient(135deg,  #fedc45 0%,#fb7099 100%);
  color: #1f1f1f;
}
.main h2 small {
  font-size: 16px;
}
.main section {
  margin-bottom: 40px;
}
.streams {
  display: grid;
  grid-gap: 15px;
  padding: 0 15px;
  grid-template-columns: repeat(auto-fill, 100%);
  justify-content: center;
}

.item {
  position: relative;
  margin-bottom: 20px;
}
.item img {
  width: 100%;
  height: auto;
}
.item h3 {
  font-size: 16px;
}
.item small {
  font-size: 12px;
}

.item .upcoming {
  position: absolute;
  left: 0;
  top: 0;
  background-color: white;
  color: black;
  padding: 5px;
}

.item .streaming {
  position: absolute;
  left: 0;
  top: 0;
  background: linear-gradient(135deg,  #fedc45 0%,#fb7099 100%);
  color: black;
  padding: 5px;
}

@media (min-width: 715px) {
  .streams {
    padding: 0;
    grid-template-columns: repeat(auto-fill, 350px);
  }
}
