.main {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 15px;
}

.main img {
  width: 100%;
}

.intro {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.intro ul {
  display: inline-flex;
  list-style: none;
}

.info {
  max-width: 700px;
  line-height: 24px;
}

.info a {
  text-decoration: underline;
}

.info a:hover {
  text-decoration: none;
  background-color: #000;
}

@media (min-width: 1300px) {
  .main {
    padding: 0;
  }
}
