.main {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 15px;
}

.main img {
  width: 100%;
}

.main section {
  margin-top: 20px;
}

.main section {
  display: flex;
}

.organizers {
  display: none;
  text-align: end;
  flex-grow: 1;
}
.organizers h3 {
  margin-bottom: 20px;
}
.organizers ul li {
  margin-bottom: 10px;
  display: flex;
  align-items:  center;
  justify-content: flex-end;
}
.organizers ul li img {
  width: 50px;
  margin-left: 20px;
}
.info {
  max-width: 700px;
  line-height: 24px;
}

.main a {
  text-decoration: underline;
}

.main a:hover {
  text-decoration: none;
  background-color: #000;
}

@media (min-width: 1024px) {
  .organizers {
    display: block;
  }
}
@media (min-width: 1300px) {
  .main {
    padding: 0;
  }
}
